<p id="notice"><%= notice %></p>

<% if @lists.any? %>
  <div class="row">
    <div class="col-lg-9">
      <%= paginate @lists %>
    </div>
  </div>
<% end %>

<div class="table-responsive">
  <table class="table table-bordered table-condensed table-hover text-center">
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @lists.each do |list| %>
        <tr>
          <td><%= list.name %></td>
          <td><%= link_to 'Play', play_list_path(list) %></td>
          <td><%= link_to 'Edit', edit_list_path(list) %></td>
          <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'New List', new_list_path, class: "btn btn-primary" %>
