<div class="centering test">
  <p id="notice"><%= notice %></p>

  <% if @lists.any? %>
    <div class="row">
      <div class="col-lg-9">
        <%= paginate @lists %>
      </div>
    </div>
  <% end %>

  <div class="collector_spacing">
    <span class="your_lists">Your Lists</span>
    <span class="pull-right">
      <%= link_to 'New List', new_list_path, class: "btn btn-primary" %>
    </span>  
  </div>

  <div class="table-responsive">
    <table class="table table-bordered table-condensed table-hover text-center">
      <tbody>
        <% @lists.each do |list| %>
          <tr>
            <td><%= link_to 'Play', play_list_path(list) %></td>
            <td class="bold"><%= list.name %></td>
            <td><%= link_to 'Edit', edit_list_path(list) %></td>
            <td><%= link_to 'Destroy', list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
