<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-9">
    <%= paginate @terms %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-bordered table-condensed table-hover text-center">
    <thead>
      <tr>
        <th class="text-center">English</th>
        <th class="text-center">Chinese Traditional</th>
        <th class="text-center">Chinese Simplified</th>
      </tr>
    </thead>

    <tbody>
      <% @terms.each do |term| %>
        <tr>
        <td><%= term.english %></td>
        <td><%= term.chinese_traditional %></td>
        <td><%= term.chinese_simplified %></td>
      <% end %>
    </tbody>
  </table>
</div>
