<div class="collector test resources_roll">
  <button class="edit">Language Exchange</button>
  <div>
    <a href="http://conversationexchange.com"><%= image_tag "convo_exchange.jpg", size: '160x150' %></a>
  </div>
  <div>
    <a href="http://tealit.com/ad_categories.php?section_id=32&subsection_id=19&content_mode=2"><%= image_tag "tealit.jpg", size: '160x150', alt: "Tealit.com Language Exchange" %></a>
  </div>
  <div>
    <a href="#"><%= image_tag "convo_exchange.jpg", size: '160x150' %></a>
  </div>
  <div>
    <a href="#"><%= image_tag "tealit.jpg", size: '160x150' %></a>
  </div>
</div>

<div class="collector test resources_roll">
  <button class="edit">Games</button>
  <div>
    <a href="http://chinese-skill.com"><%= image_tag "ChineseSkill.jpeg", size: '160x150' %></a>
  </div>
  <div>
    <a href="#"><%= image_tag "tealit.jpg", size: '160x150' %></a>
  </div>
  <div>
    <a href="#"><%= image_tag "convo_exchange.jpg", size: '160x150' %></a>
  </div>
  <div>
    <a href="#"><%= image_tag "tealit.jpg", size: '160x150' %></a>
  </div>
</div>

<div class="collector test resources_roll">
  <button class="edit">Words / Phrases</button>
  <div>
    <a href="#"><%= image_tag "convo_exchange.jpg", size: '160x150' %></a>
  </div>
  <div>
    <a href="#"><%= image_tag "tealit.jpg", size: '160x150' %></a>
  </div>
  <div>
    <a href="#"><%= image_tag "convo_exchange.jpg", size: '160x150' %></a>
  </div>
  <div>
    <a href="#"><%= image_tag "tealit.jpg", size: '160x150' %></a>
  </div>
</div>
