<div class="collector test resources_roll">
  <button class="edit">Language Exchange</button>
  <div>
    <a href="http://conversationexchange.com"><%= image_tag "convo_exchange.jpg", size: '160x150' %></a>
  </div>
  <div>
    <a href="http://tealit.com/ad_categories.php?section_id=32&subsection_id=19&content_mode=2"><%= image_tag "tealit.jpg", size: '160x150', alt: "Tealit.com Language Exchange" %></a>
  </div>
  <div>
    <a href="https://www.italki.com/partners/chinese"><%= image_tag "italki.jpg", size: '160x150' %></a>
  </div>
  <div>
    <a href="https://www.mylanguageexchange.com/Search.asp?selX6=1&selX3=13&submit1=Search"><%= image_tag "language_exchange.jpg", size: '160x150' %></a>
  </div>
</div>

<div class="collector test resources_roll">
  <button class="edit">Games / Info</button>
  <div>
    <a href="http://chinese-skill.com"><%= image_tag "ChineseSkill.jpeg", size: '160x150' %></a>
  </div>
  <div>
    <a href="http://memrise.com"><%= image_tag "memrise.jpg", size: '160x150' %></a>
  </div>
  <div>
    <a href="http://fourhourworkweek.com/2014/03/21/how-to-learn-a-foreign-language-2/"><%= image_tag "benny.jpg", size: '160x150' %></a>
  </div>
  <div>
    <a href="http://archchinese.com"><%= image_tag "arch.jpg", size: '160x150' %></a>
  </div>
</div>

<div class="collector test resources_roll">
  <button class="edit">Videos</button>
  <div>
    <a href="http://chinesewithmike.com"><%= image_tag "mike.svg", size: '160x150' %></a>
  </div>
  <div>
    <a href="https://www.youtube.com/channel/UCtjhXzMNWJxcytxa7kkAH5Q"><%= image_tag "ChineseNow.png", size: '160x150' %></a>
  </div>
  <div>
    <a href="https://www.youtube.com/c/yangyangcheng"><%= image_tag "yoyoChinese.png", size: '160x150' %></a>
  </div>
  <div>
    <a href="http://www.mdnkids.com/BoPoMo/"><%= image_tag "bpmf.png", size: '160x150' %></a>
  </div>
</div>
