<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <ul class="list-group">
        <li class="list-group-item thumb">
          Left to right
          <span class="pull-right"><%= image_tag("stroke_order/好-order.gif")%></span>
        </li>
        <li class="list-group-item thumb">
          Top to bottom
          <span class="pull-right"><%= image_tag("stroke_order/二-order.gif")%></span>
        </li>
        <li class="list-group-item thumb">
          Horizontal before vertical when crossing
          <span class="pull-right"><%= image_tag("stroke_order/本-order.gif")%></span>
        </li>
        <li class="list-group-item thumb">
          Character-spanning lines last
          <span class="pull-right"><%= image_tag("stroke_order/女-order.gif")%></span>
        </li>
        <li class="list-group-item thumb">
          Diagonals: right-to-left before left-to-right
          <span class="pull-right"><%= image_tag("stroke_order/人-order.gif")%></span>
        </li>
        <li class="list-group-item thumb">
          Center before "wings"
          <span class="pull-right"><%= image_tag("stroke_order/小-order.gif")%></span>
        </li>
        <li class="list-group-item thumb">
          Horizontal before left-falling diagonals
          <span class="pull-right"><%= image_tag("stroke_order/中-order.gif")%></span>
        </li>
        <li class="list-group-item thumb">
          Outside to inside if open at the bottom
          <span class="pull-right"><%= image_tag("stroke_order/在-order.gif")%></span>
        </li>
        <li class="list-group-item thumb">
          Inside to outside if open at the top
          <span class="pull-right"><%= image_tag("stroke_order/這-order.gif")%></span>
        </li>
        <li class="list-group-item thumb">
          Left vertical before enclosing
          <span class="pull-right"><%= image_tag("stroke_order/日-order.gif")%></span>
        </li>
        <li class="list-group-item thumb">
          Dots: top left / middle first; top right / inside last
          <span class="pull-right"><%= image_tag("stroke_order/我-torder.gif")%></span>
        </li>
      </ol>
    </div>
  </div>
</div>
