<div class="container">
  <div class="row">
    <div class="col-lg-8">
      <ul class="list-group">

        <li class="list-group-item thumb">
          <div class="row">
            <div class="col-lg-3">
              Left to right
            </div>
            <div class="col-lg-3">
              <%= image_tag("stroke_order/好-order.gif")%>
            </div>

            <div class="col-lg-3">
              Top to bottom
            </div>
            <div class="col-lg-3">
              <%= image_tag("stroke_order/二-order.gif")%>
            </div>
          </div>
        </li>

        <li class="list-group-item thumb">
          <div class="row">
            <div class="col-lg-3">
              Horizontal before vertical when crossing
            </div>
            <div class="col-lg-3">
              <%= image_tag("stroke_order/本-order.gif")%>
            </div>

            <div class="col-lg-3">
              Character-spanning lines last
            </div>
            <div class="col-lg-3">
              <%= image_tag("stroke_order/女-order.gif")%>
            </div>
          </div>
        </li>


        <li class="list-group-item thumb">
          <div class="row">
            <div class="col-lg-3">
              Diagonals: right-to-left before left-to-right
            </div>
            <div class="col-lg-3">
              <%= image_tag("stroke_order/人-order.gif")%>
            </div>

            <div class="col-lg-3">
              Center before "wings"
            </div>
            <div class="col-lg-3">
              <%= image_tag("stroke_order/小-order.gif")%>
            </div>
          </div>
        </li>


        <li class="list-group-item thumb">
          <div class="row">
            <div class="col-lg-3">
              Horizontal before left-falling diagonals
            </div>
            <div class="col-lg-3">
              <%= image_tag("stroke_order/中-order.gif")%>
            </div>

            <div class="col-lg-3">
              Outside to inside if open at the bottom
            </div>
            <div class="col-lg-3">
              <%= image_tag("stroke_order/在-order.gif")%>
            </div>
          </div>
        </li>


        <li class="list-group-item thumb">
          <div class="row">
            <div class="col-lg-3">
              Inside to outside if open at the top
            </div>
            <div class="col-lg-3">
              <%= image_tag("stroke_order/這-order.gif")%>
            </div>

            <div class="col-lg-3">
              Left vertical before enclosing
            </div>
            <div class="col-lg-3">
              <%= image_tag("stroke_order/日-order.gif")%>
            </div>
          </div>
        </li>

        <li class="list-group-item thumb">
          <div class="row">
            <div class="col-lg-6">
              Dots: top left / middle first
              <br>
              <span style="padding: 39px;">top right / inside last</span>
            </div>
            <div class="col-lg-3">
              <%= image_tag("stroke_order/過-order.gif")%>
            </div>
            <div class="col-lg-3">
              <%= image_tag("stroke_order/我-torder.gif")%>
            </div>
          </div>
        </li>
      </ol>
    </div>
  </div>
</div>
